<div style="width: 1122px ;margin-left: auto; margin-right: auto;margin-top: 150px">
    <div style="display: inline-flex; position: relative;">
        <div class="mdl-card  mdl-shadow--2dp" style="width: 210px; height: 280px; margin-left: 9px; margin-right: 9px" ng-click="popularSwitch()">
            <div style="width: 210px; height: 210px; background-color: #9e9e9e">
                <img ng-src="{{rcd.hosturl + rcd.cover.popular.coverurl}}" width="100%" height="100%">
            </div>
            <div style="padding-top: 16px; padding-left: 16px; font-size: 16px; line-height: 18px">
                Popular
            </div>
        </div>
        <div class="mdl-card  mdl-shadow--2dp" style="width: 210px; height: 280px; margin-left: 9px; margin-right: 9px" ng-click="classicalSwitch()">
            <div style="width: 210px; height: 210px; background-color: #9e9e9e">
                <img ng-src="{{rcd.hosturl + rcd.cover.classical.coverurl}}" width="100%" height="100%">
            </div>
            <div style="padding-top: 16px; padding-left: 16px; font-size: 16px; line-height: 18px">
                Classical
            </div>
        </div>
        <div class="mdl-card  mdl-shadow--2dp" style="width: 210px; height: 280px; margin-left: 9px; margin-right: 9px" ng-click="allSwitch()">
            <div style="width: 210px; height: 210px; background-color: #9e9e9e">
                <img ng-src="{{rcd.hosturl + rcd.cover.all.coverurl}}" width="100%" height="100%">
            </div>
            <div style="padding-top: 16px; padding-left: 16px; font-size: 16px; line-height: 18px">
                All
            </div>
        </div>
        <div class="mdl-card  mdl-shadow--2dp" style="width: 210px; height: 280px; margin-left: 9px; margin-right: 9px" ng-click="soundtrackSwitch()">
            <div style="width: 210px; height: 210px; background-color: #9e9e9e">
                <img ng-src="{{rcd.hosturl + rcd.cover.soundtrack.coverurl}}" width="100%" height="100%">
            </div>
            <div style="padding-top: 16px; padding-left: 16px; font-size: 16px; line-height: 18px">
                Soundtrack
            </div>
        </div>
        <div class="mdl-card  mdl-shadow--2dp" style="width: 210px; height: 280px; margin-left: 9px; margin-right: 9px" ng-click="ChineseSwitch()">
            <div style="width: 210px; height: 210px; background-color: #9e9e9e">
                <img ng-src="{{rcd.hosturl + rcd.cover.chinese.coverurl}}" width="100%" height="100%">
            </div>
            <div style="padding-top: 16px; padding-left: 16px; font-size: 16px; line-height: 18px">
                Chinese
            </div>
        </div>
    </div>
</div >
<!--<div class="mdl-shadow&#45;&#45;2dp" style="bottom: 12px; right: 16px; position: absolute; width: 72px; background-color: #616161">-->
    <!--<input id="album" type="checkbox" ng-model="album.value"> <span style="margin-left: 2px; color: #ffffff">Album</span>-->
<!--</div>-->